<nav>
    <span>
        <a class="nav-item" href="/workflow/">Workflow</a>
        <a class="nav-item" href="/workflow/logs">Running Logs</a>
    </span>
    <span>
        <a class="nav-item" href="/auth/login">
            <span class="material-symbols-outlined">person</span>
        </a>
        <a class="nav-item" href="/auth/register">
            <span class="material-symbols-outlined">person_add</span>
        </a>
        <a class="nav-item" href="/auth/logout">
            <span class="material-symbols-outlined">logout</span>
        </a>
    </span>
</nav>
