<nav class="navbar">
    <!--  Left Navbar  -->
    <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <span>
            <img src="/static/img/eyelash-curler-svgrepo-com.svg" alt="logo">Observe
        </span>
    </div>

    <div class="search_bar">
        <input type="text" placeholder="Search" />
    </div>

    <div class="navbar_content">
        <i class="bx bx-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="/static/img/profile.svg" alt="profile-anon" class="profile" />
    </div>
</nav>

<!--<header id="top">-->
<!--    <div class="navbar">-->
<!--        <nav>-->
<!--            <span>-->
<!--                {% if not request.user.is_authenticated %}-->
<!--                <a class="nav-item" href="/auth/login">-->
<!--                    <span class="material-symbols-outlined">person</span>-->
<!--                </a>-->
<!--                <a class="nav-item" href="/auth/register">-->
<!--                    <span class="material-symbols-outlined">person_add</span>-->
<!--                </a>-->
<!--                {% else %}-->
<!--                <a class="nav-item" href="/auth/change-password">-->
<!--                    <span class="material-symbols-outlined">settings_backup_restore</span>-->
<!--                </a>-->
<!--                <a href="/auth/login"-->
<!--                   hx-post="/auth/logout"-->
<!--                   hx-on::after-request="this.removeAttribute('hx-post');htmx.process(this);this.click()">-->
<!--                    <span class="material-symbols-outlined">logout</span>-->
<!--                </a>-->
<!--                {% endif %}-->
<!--            </span>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
