<nav class="navbar">
    <!--  Left Navbar  -->
    <div class="navbar_logo">
        {% if active_sidebar == 'true' %}
        <i class="bx bx-menu" id="sidebarOpen"></i>
        {% endif %}
        <a href="/">
            <img src="/static/img/eyelash-curler-svgrepo-com.svg" alt="logo">
        </a>
        <span>Observe</span>
    </div>

    <!--  Search Navbar  -->
    <div class="search_bar">
        <input type="text" placeholder="Search" />
    </div>

    <div class="navbar_content">
        <i class='bx bx-sun' id="darkLight"></i>
        <a class="nav-item" href="/auth/login"><i class='bx bx-bell' ></i></a>
        <a href="/auth/login"
           hx-post="/auth/logout"
           hx-on::after-request="this.removeAttribute('hx-post');htmx.process(this);this.click()">
            <img src="/static/img/profile.svg" alt="profile-anon" class="profile" />
        </a>
    </div>
</nav>
