<nav class="sidebar">
    <div class="sidebar_menu_content">

        <ul class="menu_items">
            <li class="menu_title menu_dashboard"></li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bxs-magic-wand"></i></span>
                    <span class="navlink">Workflow</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bx-loader-circle"></i></span>
                    <span class="navlink">Logging</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bx-filter"></i></span>
                    <span class="navlink">Monitoring</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bx-cloud-upload"></i></span>
                    <span class="navlink">Hook</span>
                </a>
            </li>
        </ul>

        <ul class="menu_items">
            <li class="menu_title menu_setting"></li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bx-cog"></i></span>
                    <span class="navlink">Setting</span>
                </a>
            </li>
            <li class="item">
                <a href="#" class="nav_link">
                    <span class="navlink_icon"><i class="bx bx-layer"></i></span>
                    <span class="navlink">Features</span>
                </a>
            </li>
        </ul>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
            <div class="bottom expand_sidebar">
                <span>Expand</span><i class='bx bx-log-in'></i>
            </div>
            <div class="bottom collapse_sidebar">
                <span>Collapse</span><i class='bx bx-log-out'></i>
            </div>
        </div>
    </div>
</nav>
