{% extends "shared/layout.html" %}
{% block title %}Authentication{% endblock %}
{% block main_content %}
<div class="container">
    <div class="container_center">
        <div class="auth-form">
            {% if content == 'login' %}
                {% include 'auth/partials/login.html' with context %}
            {% elif content == 'change-password' %}
                {% include 'auth/partials/change-password.html' with context %}
            {% else %}
                {% include 'auth/partials/register.html' with context %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block additional_css %}
<style>
    .auth-form {
        width: 100%;
        max-width: 435px;
        background: #fff;
        border-radius: 6px;
        padding: 41px 30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .auth-form h3 {
        font-size: 25px;
        text-align: center;
    }

    /* NOTE: Optional Authentication */
    .auth-form .login_option {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .auth-form .login_option .option {
        width: calc(100% / 2 - 12px);
    }

    .auth-form .login_option .option a {
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: #F8F8FB;
        border: 1px solid #DADAF2;
        border-radius: 15px;
        margin: 10px 0 10px 0;
        text-decoration: none;
        color: #171645;
        font-size: 13px;
        font-weight: 500;
        transition: 0.2s ease;
    }

    .auth-form .login_option .option a:hover {
        background: #ededf5;
        border-color: #626cd6;
    }

    .auth-form .login_option .option a img {
        max-width: 20px;
    }

    /* NOTE: Seperator line */

    .auth-form p {
        text-align: center;
        font-weight: 500;
    }
    .auth-form .separator {
        position: relative;
        margin-bottom: 24px;
    }

    .auth-form .separator span {
        background: #fff;
        z-index: 1;
        padding: 0 10px;
        position: relative;
    }

    .auth-form .separator::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        height: 1px;
        background: #C2C2C2;
        display: block;
    }

    /* NOTE: Main Authentication */

    .auth-form form .input_box label {
        display: block;
        margin-bottom: 0px;
    }

    .auth-form form .input_box input {
        width: 100%;
        height: 30px;
        border: 1px solid #DADAF2;
        border-radius: 5px;
        outline: none;
        background: #F8F8FB;
        font-size: 15px;
        padding: 0px 15px;
        margin-bottom: 10px;
        transition: 0.2s ease;
    }

    .auth-form form .input_box input:focus {
        border-color: #626cd6;
    }

    .auth-form form .input_box .password_title {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .auth-form form .input_box {
        position: relative;
    }

    .auth-form form a {
        text-decoration: none;
        color: #626cd6;
        font-size: 10px;
        font-weight: 500;
    }

    .auth-form a:hover {
        text-decoration: underline;
    }

    .auth-form form button {
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #626CD6;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 25px;
        transition: 0.3s ease;
    }

    .auth-form form button:hover {
        background: #4954d0;
    }
</style>
{% endblock %}
