{% extends "shared/layout.html" %}
{% block title %}Authentication{% endblock %}
{% block main_content %}

<div class="container">
    <div class="container-center">
        <div>
        {% if content == 'login' %}
            {% include 'auth/partials/login.html' with context %}
        {% elif content == 'change-password' %}
            {% include 'auth/partials/change-password.html' with context %}
        {% else %}
            {% include 'auth/partials/register.html' with context %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
