<table class="data-table" id="trace-results">
    <thead>
        <tr>
            <th>Run ID</th>
            <th>Update Date</th>
            <th>Metadata</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for trace in traces %}
        <tr>
            <td class="trace-run-id">{{ trace.run_id }}</td>
            <td>{{ trace.update_date }}</td>
            <td>
                <pre class="parameter-cell">
                </pre>
            </td>
            <td class="action-cell">
                <button class="btn"
                        onclick="showDetail(this)">
                    <i class='bx bx-info-circle'></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
