<header class="header">
    <div class="header-actions">
        <button class="action-item" type="button" onclick="themeToggle()" id="theme-toggle" aria-label="Toggle theme">
            <i class="bx bx-sun"></i>
        </button>
        <button class="action-item" type="button" aria-label="Notifications">
            <i class="bx bx-bell"></i>
        </button>
        <div class="action-item action-dropdown">
            <img src="/static/img/profile.svg" alt="profile-anon">
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <i class="bx bx-user"></i>
                    <span>Profile</span>
                </div>
                <div class="dropdown-item">
                    <i class="bx bx-cog"></i>
                    <span>Setting</span>
                </div>
                <div class="dropdown-item" hx-post="/auth/logout">
                    <i class="bx bx-log-out-circle"></i>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </div>
</header>
