<header class="header">
    <div class="header-actions">
        <ul class="action-item"
             id="theme-toggle"
             hx-get="/toggle-theme"
             hx-swap="none"
             hx-trigger="click">
            <i class="bx bx-sun"></i>
        </ul>
        <ul class="action-item">
            <i class="bx bx-bell"></i>
        </ul>
        <ul class="action-item action-dropdown">
            <i class="bx bx-user"></i>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <i class="bx bx-user"></i>
                    <span>Profile</span>
                </div>
                <div class="dropdown-item">
                    <i class="bx bx-cog"></i>
                    <span>Setting</span>
                </div>
                <div class="dropdown-item">
                    <i class='bx bx-log-out-circle' ></i>
                    <span>Logout</span>
                </div>
            </div>
        </ul>
    </div>
</header>
