<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <span class="sidebar-logo">Observe</span>
        <button class="sidebar-toggle"
                id="sidebar-toggle-btn"
                onclick=toggleSidebar()>
            <i class='bx bx-chevrons-right'></i>
        </button>
    </div>
    <nav class="sidebar-menu">
        <ul>
            <li>
                <button onclick=toggleSubMenu(this) class="dropdown-btn {% if request.path.split('/')[1] == 'workflow' %}active{% endif %}">
                    <i class='bx bx-run'></i>
                    <span>Workflows</span>
                    <i class='bx bx-chevron-down' ></i>
                </button>
                <ul class="sub-menu">
                    <div>
                        <li class="{% if request.path.endswith('/workflow/') %}active{% endif %}"><a href="{{ url_for('workflow_read_all') }}">All Workflows</a></li>
                        <li class="{% if request.path.endswith('/workflow/runs') %}active{% endif %}"><a href="/workflow/runs">Workflow Runs</a></li>
                    </div>
                </ul>
            </li>
            <li class="{% if request.path.split('/')[1] == 'schedule' %}active{% endif %}">
                <a href="{{ url_for('schedule_read_all') }}">
                    <i class="bx bx-calendar-alt"></i>
                    <span>Schedulers</span>
                </a>
            </li>
            <li>
                <button onclick=toggleSubMenu(this) class="dropdown-btn">
                    <i class='bx bx-glasses-alt'></i>
                    <span>Logging</span>
                    <i class='bx bx-chevron-down' ></i>
                </button>
                <ul class="sub-menu">
                    <div>
                        <li class="{% if request.path.split('/')[1] == 'trace' %}active{% endif %}"><a href="{{ url_for('trace_read_all') }}">Trace</a></li>
                        <li class="{% if request.path.split('/')[1] == 'audit' %}active{% endif %}"><a href="{{ url_for('audit_read_all') }}">Audit</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
