<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-toggle"
             hx-get="/toggle-sidebar"
             hx-swap="none"
             hx-trigger="click">
            <i class='bx bx-menu'></i>
        </div>
        <h1>Observe</h1>
    </div>
    <nav class="sidebar-menu">
        <div class="menu-item {{ 'active' if request.path[1:] == 'workflow/' else ''}}">
            <i class='bx bx-run'></i>
            <span>Workflows</span>
        </div>
        <div class="menu-item">
            <i class="bx bx-calendar-alt"></i>
            <span>Schedulers</span>
        </div>

        <div class="menu-item {{ 'active' if request.path[1:] == 'log/' else ''}}">
            <i class='bx bx-file-find'></i>
            <span>Logs</span>
        </div>
        <div class="menu-item">
            <i class='bx bx-glasses-alt'></i>
            <span>Audits</span>
        </div>
    </nav>
</aside>
