:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
    --body-sidebar-font-size: 15px;
    --body-sidebar-width: 180px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e7f2fd;
    transition: all 0.5s ease;
}

body.dark {
    background-color: #707070;
    transition: all 0.5s ease;
}

body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}

div {
    /* DEBUG: Add color line for debugging mode */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160,160,255);
}

.main_content {
    position: relative;
    margin-top: 70px;
    margin-left: var(--body-sidebar-width);

}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
