.sidebar {
    width: var(--body-main-content-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 70px 10px;
    z-index: 900;
    overflow-y: scroll;
    box-shadow: 0 0 3px var(--grey-color-light);
    background-color: var(--white-color);
    transition: all 0.5s ease;

    .sidebar_menu {
        position: relative;
    }

    .menu_title {
        margin: 10px 0;
        padding: 0 15px;
        font-weight: 700;
        font-size: var(--body-sidebar-font-size);
    }

    &.close {
        padding: 60px 0;
        width: var(--body-main-content-width-close);

        .menu_title {
            padding: 6px 20px;
        }
    }
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
}

.menu_dashboard::before {
    content: "Dashboard";
}

.menu_setting::before {
    content: "Setting";
}

.sidebar.close .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--grey-color-light);
}

.menu_items {
    padding: 0;
    list-style: none;
}

.nav_link {
    font-size: var(--body-sidebar-font-size);

    &:hover {
        color: var(--white-color);
        background: var(--blue-color);
    }
}

.nav_link_icon {
    position: relative;
    font-size: 18px;
    min-width: 55px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;

    &:hover {
        background: var(--blue-color);
    }

}

.nav_link_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
}

.sidebar.close .nav_link:hover {
    background: var(--white-color);
}

.bottom_content {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: var(--body-main-content-width);
    cursor: pointer;
    transition: all 0.5s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: right;
    padding: 17px 10px 0 0;
    width: 100%;
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color-light);
    background-color: var(--white-color);

    i {
        font-size: 18px;
    }

}

.sidebar.close {
    .bottom_content {
        width: 45px;
        left: 0px;
    }

    .bottom span {
        display: none;
    }

    .nav_link_title {
        display: none;
    }
}

.sidebar.hoverable .collapse_sidebar {
    display: none;
}

#sidebarOpen {
    display: none;
}

/* NOTE: Config for 768px */
@media screen and (max-width: 768px) {

    #sidebarOpen {
        font-size: 18;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .sidebar.close {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }

    .bottom_content {
        display: none;
    }
}
