.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 25px;
    z-index: 1000;
    box-shadow: 0 0 3px var(--grey-color-light);
    background-color: var(--white-color);

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.navbar_logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 30px;
    font-weight: 500;
    color: var(--blue-color);
}

.search-box {
    height: 40px;
    width: 80%;
    max-width: 450px;

    .search-input {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        font-size: 15px;
        outline: none;
        background-color: var(--white-color);
        color: var(--grey-color);
        border: 1px solid var(--grey-color-light);
        padding: 0 20px;

        &:focus-within {
            outline: 1px solid var(--blue-color);
        }
    }
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;

    i {
        cursor: pointer;
        color: var(--grey-color);
    }
}
