<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Observe{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    {%- block link_internal_css %}{% endblock -%}
    <link rel="stylesheet" href="/static/css/base.css">
    {%- block main_css %}
    <link rel="stylesheet" href="/static/css/base-sidebar.css">
    <link rel="stylesheet" href="/static/css/base-navbar.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    {% endblock -%}
    {% block additional_css %}{% endblock %}
</head>
<body data-theme="light">
    {% block modal_keeper %}{% endblock %}
    {% set active_sidebar_js = active_sidebar_js|default('true') %}
    {% block body_content_wrapper %}
        {% include 'fragments/sidebar.html' %}
        <main class="main-content" id="main-content">
            {% include 'fragments/navbar.html' %}
            {% block main_content %}{% endblock %}
            {% include 'fragments/footer.html' %}
        </main>
    {% endblock %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/events.js"></script>
    {%- block additional_js %}{% endblock -%}
    {%- if active_sidebar_js == 'true' %}
    <script src="/static/js/sidebar.js"></script>
    {% endif -%}
</body>
</html>
