<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Observe{% endblock %}</title>

    <!-- Resource Hints for Better Performance -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//unpkg.com">

    <!-- Optimized Font Loading -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></noscript>

    <link rel="preload" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"></noscript>

    {%- block link_internal_css %}{% endblock -%}

    <!-- Design System CSS - Load in correct order -->
    <link rel="stylesheet" href="/static/css/variables.css"/>
    <link rel="stylesheet" href="/static/css/utilities.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    {%- block main_css %}
    <link rel="stylesheet" href="/static/css/base-sidebar.css"/>
    <link rel="stylesheet" href="/static/css/base-navbar.css"/>
    <link rel="stylesheet" href="/static/css/notifications.css"/>
    <link rel="stylesheet" href="/static/css/skeleton.css"/>
    {% endblock -%}
    {% block additional_css %}{% endblock %}

    <!-- Meta tags for SEO and PWA -->
    <meta name="description" content="Lightweight observation web application for monitoring workflows and data pipelines">
    <meta name="theme-color" content="#4f46e5">
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg">
</head>
<body data-theme="light">
    {% block modal_keeper %}{% endblock %}
    {% set active_sidebar_js = active_sidebar_js|default('true') %}
    {% block body_content_wrapper %}
        {% include 'fragments/sidebar.html' %}
        <main class="main-content" id="main-content">
            {% include 'fragments/navbar.html' %}
            {% block main_content %}{% endblock %}
            {% include 'fragments/footer.html' %}
        </main>
    {% endblock %}

    <!-- Optimized Script Loading -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" defer></script>
    <script type="text/javascript" src="/static/js/theme.js" defer></script>
    <script type="text/javascript" src="/static/js/events.js" defer></script>
    {%- block additional_js %}{% endblock -%}
    {%- if active_sidebar_js == 'true' %}
    <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
    {% endif -%}
</body>
</html>
