<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Observe App{% endblock %}
        </title>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"/>

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

        <link rel="stylesheet" href="/static/css/site.css"/>

        {% block additional_css %}
        {% endblock %}
    </head>
    <body>
        <!-- Header -->
        {% include 'fragments/header.html' %}

        <!-- Content -->
        <div class="main_content">
            {% block main_content %}
            {% endblock %}
        </div>

    </body>

    <!-- Footer -->
    {% include 'fragments/footer.html' %}

    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"></script>

    {% block additional_js %}
    {% endblock %}
</html>
