<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observe via FastAPI</title>

    <link rel="stylesheet" href="/static/css/site.css"/>

    {% block additional_css %}{% endblock %}
</head>

<body>

<nav>
    <span>
        <a class="nav-item" href="/workflows/">Workflows</a>
        <a class="nav-item" href="/logs/">Logs</a>
    </span>
</nav>

<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

</body>

<footer>
    <div class="copyright">
        Observe via FastAPI with <a href="https://htmx.org" target="_blank">HTMX</a>
    </div>
</footer>


<script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>

{% block additional_js %}{% endblock %}

</html>
