<h1>Change Password</h1>
<form hx-post="{{ url_for('change_password') }}"
      hx-trigger="submit"
      hx-indicator=".button">
    <div class="input-group">
        <label for="username-input">Username</label>
        <input id="username-input"
               autocomplete="off"
               type="text"
               name="username"
               placeholder="Username...">
    </div>
    <div class="input-group">
        <label for="old-password-input">Old Password</label>
        <input id="old-password-input"
               autocomplete="off"
               type="password"
               name="old_password">
    </div>
    <div class="input-group">
        <label for="new-password-input">New Password</label>
        <input id="new-password-input"
               autocomplete="off"
               type="password"
               name="new_password">
        <button type="submit" class="button">Confirm</button>
    </div>
</form>
