<form id="change-password-form"
      hx-post="{{ url_for('change_password') }}"
      hx-trigger="submit">
    <div>
        <input id="username-input"
               autocomplete="off"
               type="text"
               name="username"
               placeholder="Username...">
        <br>

        <span>Old Password:</span>
        <input id="old-password-input"
               autocomplete="off"
               type="password"
               name="old_password"
               placeholder="Old Password...">
        <br>

        <span>New Password:</span>
        <input id="new-password-input"
               autocomplete="off"
               type="password"
               name="new_password"
               placeholder="New Password...">
        <br>

        <button type="submit">Submit</button>
    </div>
</form>
