<form id="login-form"
      hx-post="{{ url_for('login') }}"
      hx-trigger="submit">
        <label>Username:
            <input id="username-input"
                   autocomplete="off"
                   type="text"
                   name="username"
                   placeholder="Username...">
        </label>
        <br>

        <label>Password:
        <input id="password-input"
               autocomplete="off"
               type="password"
               name="password"
               placeholder="Password...">
        </label>
        <br>

        <input id="checkbox-me"
               type="checkbox"
               name="scopes_me"
               checked>
        <label for="checkbox-me">me</label>
        <input id="checkbox-workflows"
               type="checkbox"
               name="scopes_workflows"
               checked>
        <label for="checkbox-workflows">workflows</label>
        <br>

        <button type="submit">Submit</button>
</form>
