<form id="login-form"
      hx-post="{{ url_for('login') }}"
      hx-trigger="submit">
    <div>
        <input id="username-input"
               autocomplete="off"
               type="text"
               name="username"
               placeholder="Username...">
        <input id="password-input"
               autocomplete="off"
               type="password"
               name="password"
               placeholder="Password...">
        <input id="scope-input"
               autocomplete="off"
               type="text"
               name="scope"
               placeholder="Scopes like me,workflows">
        <button type="submit">Submit</button>
    </div>
</form>
