<h1>Registration</h1>
<form hx-post="{{ url_for('register_create') }}"
      hx-trigger="submit"
      hx-indicator=".button">
    <div class="input-group">
        <label for="username-input">Username</label>
        <input id="username-input"
               autocomplete="off"
               type="text"
               name="username">
    </div>
    <div class="input-group">
        <label for="password-input">Password</label>
        <input id="password-input"
               autocomplete="off"
               type="password"
               name="password">
    </div>
    <div class="input-group">
        <label for="email-input">Email</label>
        <input id="email-input"
               autocomplete="off"
               type="text"
               name="email">
    </div>
    <div class="input-group">
        <label for="fullname-input">Fullname</label>
        <input id="fullname-input"
               autocomplete="off"
               type="text"
               name="fullname">
    </div>
    <button type="submit" class="button">Register</button>
</form>
<div class="form-footer">
    <span>Already had an account? </span>
    <a class="form-switch"
        hx-get="{{ url_for('login') }}"
        hx-replace-url="/auth/login"
        hx-target="#auth-container"
        hx-swap="outerHTML transition:true">Login</a>
</div>
