{% extends "shared/layout.html" %}
{% set active_sidebar_js = 'true' %}
{% block title %}Workflows{% endblock %}
{% block main_content %}
<section class="content">
    <!-- Content Header -->
    <header class="content-header">
        <h1>Workflows</h1>
    </header>
    <!-- Content Section -->
    <article class="content-article" id="workflow-content-article">

        <header class="content-article-header">
            <h2>Workflow List</h2>
            <div class="search-container">
                <i class="bx bx-search"></i>
                <input class="form-control"
                       type="text"
                       name="search_text"
                       placeholder="Search workflow name ..."
                       value="{{ search_text }}"
                       hx-get="/workflow/search"
                       hx-trigger="keyup changed delay:750ms"
                       hx-target="#workflow-results"
                       hx-push-url="true"
                       hx-indicator=".htmx-indicator">
                <span class="htmx-indicator"><img src="/static/img/bars.svg" alt="progress bars" /></span>
            </div>
        </header>

        <div class="content-article-body">
            <div class="content-article-table">
                {% include 'workflow/partials/workflow-row.html' %}
            </div>
            <div class="content-article-detail" id="workflow-content-article-detail">
                {% include 'workflow/partials/workflow-detail.html' %}
            </div>
        </div>
    </article>
</section>
<aside></aside>
{% endblock %}
{% block link_internal_css %}
<link rel="stylesheet" href="/static/css/main-content.css"/>
{% endblock %}
{% block additional_js %}
<script type="text/javascript" src="/static/js/main-events.js"></script>
{% endblock %}
